[Unit]

Description=Docker Application Container Engine
Documentation=https://docs.docker.com
After=network.target docker.socket
Requires=docker.socket



[Service]

Type=notify

# see https://docs.docker.com/engine/admin/systemd
EnvironmentFile=-/etc/default/docker
ExecStart=/usr/bin/docker daemon -H fd:// --dns 10.0.2.2 --registry-mirror=http://host.vagrant.test:5000 --insecure-registry=registry.prod.auction.local:5000
MountFlags=slave
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=infinity
TimeoutStartSec=0

# set delegate yes so that systemd does not reset the cgroups of docker containers
Delegate=yes



[Install]

WantedBy=multi-user.target
